<link href='{{url_for("static", filename="plugins/edittable/magnific-popup.css")}}' rel="stylesheet" type="text/css">
<link href='{{url_for("static", filename="plugins/edittable/datatables.css")}}' rel="stylesheet" type="text/css">
<link href='{{url_for("static", filename="plugins/multiselect/multi-select.css")}}' rel="stylesheet" type="text/css">
<link href='{{url_for("static", filename="plugins/select2/select2.css")}}' rel="stylesheet" type="text/css">
<link href='{{url_for("static", filename="css/tablesaw.css")}}' rel="stylesheet" type="text/css">
<link href='{{url_for("static", filename="css/bootstrap.min.css")}}' rel="stylesheet" type="text/css">
<link href='{{url_for("static", filename="css/core.css")}}' rel="stylesheet" type="text/css">
<link href='{{url_for("static", filename="css/icons.css")}}' rel="stylesheet" type="text/css">
<link href='{{url_for("static", filename="css/components.css")}}' rel="stylesheet" type="text/css">
<link href='{{url_for("static", filename="css/pages.css")}}' rel="stylesheet" type="text/css">
<link href='{{url_for("static", filename="css/menu.css")}}' rel="stylesheet" type="text/css">
<link href='{{url_for("static", filename="css/responsive.css")}}' rel="stylesheet" type="text/css">
<link href='{{url_for("static", filename="css/extra.css")}}' rel="stylesheet" type="text/css">

<script src='{{url_for("static", filename="js/modernizr.min.js")}}'></script>
