<!-- Main  -->
<script src='{{url_for("static", filename="js/jquery.min.js")}}'></script>
<script src='{{url_for("static", filename="js/bootstrap.min.js")}}'></script>
<script src='{{url_for("static", filename="js/detect.js")}}'></script>
<script src='{{url_for("static", filename="js/fastclick.js")}}'></script>
<script src='{{url_for("static", filename="js/jquery.slimscroll.js")}}'></script>
<script src='{{url_for("static", filename="js/jquery.blockUI.js")}}'></script>
<script src='{{url_for("static", filename="js/waves.js")}}'></script>
<script src='{{url_for("static", filename="js/wow.min.js")}}'></script>
<script src='{{url_for("static", filename="js/jquery.nicescroll.js")}}'></script>

<script src='{{url_for("static", filename="js/jquery.scrollTo.min.js")}}'></script>
<script src='{{url_for("static", filename="js/tablesaw.js")}}'></script>
<script src='{{url_for("static", filename="js/tablesaw-init.js")}}'></script>

<!-- Custom main Js -->
<script src='{{url_for("static", filename="js/jquery.core.js")}}'></script>
<script src='{{url_for("static", filename="js/jquery.app.js")}}'></script>
