<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title">{{ subject }}</h4>
</div>
<div class="modal-body">
    <table class="table table-bordered m-0" id="blockinfo">
        <thead>
            <th>区服ID</th>
            <th>状态</th>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <a class="btn btn-purple btn-custom waves-effect w-md waves-light m-b-5" onclick="confirm_ticket('/ticket/confirm')">批准已分配的区服</a>
</div>

<script>
var table=document.getElementById("blockinfo");
var tds=table.getElementsByTagName("td");
var ok='<span class="label label-primary">已分配</span>'
var no='<span class="label label-danger">未分配</span>'
for(var i=0;i<IpMap.yes.length;i++){
    $("#blockinfo").append("<tr><td>"+IpMap.yes[i]["sid"]+"</td><td>"+ok+"</td></tr>");
}
for(var i=0;i<IpMap.no.length;i++){
    $("#blockinfo").append("<tr><td>"+IpMap.no[i]["sid"]+"</td><td>"+no+"</td></tr>");
}

function confirm_ticket(url){
    console.log(IpMap.id);
    var url=url+'/'+IpMap.id;
    $.ajax({
        url:url,
        type:"GET",
        success:function(data){
            if(data.success){
                $('#form-modal').modal('hide');
                broadcast(data);
            }else{
                $.Notification.notify('warning','bottom right','警告', data.msg);
                return
            }
        }
    })
    $(".modal-backdrop").remove();
}
</script>
