<div class="panel">
    <div class="panel-body">
        <div class="row">
            <div class="card-box">
                <div class="row">
                    <div class="col-sm-2">
                        <select id="app" name="app_id" class="form-control select2">
                            <option value="">--- 选择游戏 ---</option>
                            {% for game in games %}
                            <option value={{game.app_id}}>{{game.appname}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button id='install' disabled data-toggle="modal" data-target="#form-modal" class="btn btn-primary waves-effect waves-light w-xs m-b-5" onclick="ajax_replace('/install/request', 'replace_modal')">申请装服</button>
                    <button id='merge' disabled data-toggle="modal" data-target="#form-modal" class="btn btn-purple waves-effect waves-light w-xs m-b-5" onclick="ajax_replace('/merge/request', 'replace_modal')">申请合服</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card-box">
                <div class="row" id="zones">
                    <h4>请先选择一个游戏进行操作!</h4>
                </div>
            </div>
        </div>
    </div>
</div>


{% include "common/modal.html" %}


<script>
var checked={};
var max_sid=0;

$(".select2").select2();
$(".select2").on("change", function(e){
    var gameid=e.val;
    if(!gameid){
        return ;
    }
    $("#install").removeAttr("disabled");
    $.ajax({
        url: '/extra/'+gameid+'/zones',
        type: 'GET',
        success: function(data){
            var b="";
            if(data.success){
                for(var i=0;i<data.msg.length;i++){
                    b+='<div class="zone" onclick="checkzone(event)"><div class="zone-text" id="'+data.msg[i]["sid"]+'">'+data.msg[i]["zone"]+'</div></div>';
                };
                if(data.msg.length>2){
                    $("#merge").removeAttr("disabled");
                }else{
                    $("#merge").attr("disabled","true");
                }
            }
            $("#zones").html(b);
        }
    });
    $.ajax({
        url: '/extra/'+gameid+'/zonelimit',
        type: 'GET',
        success: function(data){
            if(data.success){
                max_sid = parseInt(data.msg);
            }
        }
    });
});

function checkzone(e){
    var c=$(e.target);
    if(c.hasClass("zone-selected")){
        c.removeClass("zone-selected");
        delete checked[e.target.id];
    }else{
        c.addClass("zone-selected");
        checked[e.target.id] = e.target.innerText;
    };
}
</script>
