<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title">{{ subject }}</h4>
</div>
<div class="modal-body">
    <table class="table table-bordered m-0" id="tinfo">
        <thead>
            <th>业务名</th>
            <th>平台名</th>
            <th>区服ID</th>
            <th>类型</th>
            <th>截至时间</th>
            <th>状态</th>
            <th>操作</th>
        </thead>
        <tbody>
        {% for s in ts %}
            <tr>
                <td>{{t.appname}}</td>
                <td>{{t.platname}}</td>
                <td>{{s.target}}</td>
                {% if s.ticket.category == "install" %}
                <td>装服</td>
                {% else %}
                <td>合服</td>
                {% endif %}
                <td>{{s.limit_at | unix_to_datetime}}</td>
                <td>
                    {% if s.allow %}
                    <span class="label label-primary">已通过</span>
                    {% elif s.allow == None %}
                    <span class="label label-default">未审核</span>
                    {% else %}
                    <span class="label label-danger">已拒绝</span>
                    {% endif %}
                </td>
                <td>
                    {% if user.role == 2 %}
                        {% if s.allow == None and not t.deleted %}
                        <a onclick='verify_submit("{{url_for('ticket.ticket_sub_deny', tid=tid, stid=s.id)}}", this)'>驳回</a>
                        <a onclick='verify_submit("{{url_for('ticket.ticket_sub_allow', tid=tid, stid=s.id)}}", this)'>批准</a>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div class="modal-footer">
    {% if t.category == "install" and user.role == 2 and not t.deleted %}
    <a class="btn btn-purple btn-custom waves-effect w-md waves-light m-b-5" onclick="AcceptAll('/ticket/accept/{{tid}}/all')">批准</a>
    {% endif %}
</div>

<script>
$(".select2").select2();
function verify_submit(url, row){
    var index=row.parentNode.parentNode.rowIndex;
    var tr=document.getElementById('tinfo').rows[index];
    var sid=tr.cells[0].innerHTML;
    var ip=tr.cells[2].innerHTML;

    $.ajax({
        url:url,
        type:"POST",
        data:{"sid":sid, "ip":ip},
        success:function(data){
            broadcast(data);
            if(data.success){
                if(data.data.allow){
                    tr.cells[tr.cells.length-2].innerHTML='<span class="label label-primary">已通过</span>';
                    tr.cells[tr.cells.length-1].innerHTML='';
                }else{
                    tr.cells[tr.cells.length-2].innerHTML='<span class="label label-danger">已拒绝</span>';
                    tr.cells[tr.cells.length-1].innerHTML='';
                }
            }
        }
    });
}
var IpMap;

function AcceptAll(url){
    $.ajax({
        url:url,
        type:"POST",
        success:function(data){
            if(!data.success){
                if(!data.callback){
                    $.Notification.notify('warning','bottom right','警告', data.msg);
                    return
                }else{
                    IpMap=data.msg;
                    ajax_replace(data.callback, 'replace_modal');
                }
            }else{
                $('#form-modal').modal('hide');
                broadcast(data);
            }
        },
        complete:function(){
            ajax_replace('/tickets', 'replace_body');
        }
    })
　  $(".modal-backdrop").remove();
}
</script>
