<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title">{{ subject }}</h4>
</div>
<div class="modal-body">
    <table class="table table-bordered m-0" id="tinfo">
        <thead>
            <th>区服ID</th>
            <th>类型</th>
            {% if t.category == "install" %}<th>分配IP</th>{% endif %}
            <th>截至时间</th>
            <th>状态</th>
            <th>操作</th>
        </thead>
        <tbody>
        {% for s in ts %}
            <tr>
                <td>{{s.target}}</td>
                {% if s.ticket.category == "install" %}
                <td>装服</td>
                {% else %}
                <td>合服</td>
                {% endif %}
                {% if t.category == "install" %}<td></td>{% endif %}
                <td>{{s.limit_at | unix_to_datetime}}</td>
                <td>
                    {% if s.allow %}
                    <span class="label label-primary">已通过</span>
                    {% elif s.allow == None %}
                    <span class="label label-default">未审核</span>
                    {% else %}
                    <span class="label label-danger">已拒绝</span>
                    {% endif %}
                </td>
                <td>
                    {% if user.role == 2 %}
                        {% if s.allow == None %}
                        <a onclick='verify_submit("{{url_for('ticket.ticket_sub_deny', tid=tid, stid=s.id)}}", this)'>驳回</a>
                        <a onclick='verify_submit("{{url_for('ticket.ticket_sub_allow', tid=tid, stid=s.id)}}", this)'>批准</a>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div class="modal-footer">
    {% if t.category == "install" and user.role == 2 %}
    <div class="col-md-6">
        <select class="form-control select2" required name="groupid">
            <option value="">---- 请选择组进行分配IP ----</option>
            {% for group in groups %}
            <option value={{group.id}}>{{group.name}}</option>
            {% endfor %}
        </select>
    </div>
    <a class="btn btn-purple btn-custom waves-effect w-md waves-light m-b-5" onclick="distributionIP('/extra/{{tid}}/distributionip')">请求分配IP</a>
    {% endif %}
</div>

<script>
$(".select2").select2();
function verify_submit(url, row){
    var index=row.parentNode.parentNode.rowIndex;
    var tr=document.getElementById('tinfo').rows[index];
    var sid=tr.cells[0].innerHTML;
    var ip=tr.cells[2].innerHTML;

    $.ajax({
        url:url,
        type:"POST",
        data:{"sid":sid, "ip":ip},
        success:function(data){
            broadcast(data);
            if(data.success){
                if(data.data.allow){
                    tr.cells[tr.cells.length-2].innerHTML='<span class="label label-primary">已通过</span>';
                    tr.cells[tr.cells.length-1].innerHTML='';
                }else{
                    tr.cells[tr.cells.length-2].innerHTML='<span class="label label-danger">已拒绝</span>';
                    tr.cells[tr.cells.length-1].innerHTML='';
                }
            }
        }
    });
}
function distributionIP(url){
    var data={"gameid":{{t.app_id}}};
    $.ajax({
        url:url,
        type:'POST',
        data:data,
        success:function(data){
            if(!data.success){
                $.Notification.notify('warning','bottom right','警告', data.msg);
                return;
            }
            var table=document.getElementById("tinfo");
            var tds=table.getElementsByTagName("td");
            for(var i=0; i<tds.length; i++){
                var tmp=tds[i].innerHTML;
                if(data.msg[tmp]){
                    tds[i+=2].innerHTML = data.msg[tmp];
                }
            }
        }
    });
}
</script>
