<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title">{{ subject }}</h4>
</div>
<form role="form" class="form-horizontal" id="user_create">
    <div class="modal-body">
        <div class="form-group">
            <label class="col-md-2 control-label">旧密码</label>
            <div class="col-md-10">
                <input type="password" required name="old_password"  class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">新密码</label>
            <div class="col-md-10">
                <input type="password" required name="new_password" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">确认密码</label>
            <div class="col-md-10">
                <input type="password" required name="confirm_password" class="form-control">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="btn btn-primary waves-effect waves-light" type="submit" onclick='submit_user()'>提交</a>
    </div>
</form>
<script>
function submit_user(){
    if(!document.forms["user_create"].checkValidity()){
        return false;
    }
    $.ajax({
        url:"{{url}}",
        type:'POST',
        data:$("#user_create").serialize(),
        success:function(data){
            $('#form-modal').modal('hide');
            broadcast(data);
        },
        error:function(data){
            $.Notification.notify('error','bottom right','啊啊啊啊啊啊', '网络有点问题了 >.<');
        },
        complete:function(){
            ajax_replace("{{url_for('user.user_list')}}", 'replace_body');
        }
    });
　  $(".modal-backdrop").remove();
}
</script>
